.generalFooterCont{
    padding-top: 40px;
    width: 100%;
    background-color: rgb(83, 83, 83);    
    color: cornsilk;
    display: flex;
    flex-direction: column;
    text-align: center;


}

.creditsDiv{
    font-size: 1.5em;
}

.wairaNuna{
    font-size: 1.5em;
    text-shadow: 2px 3px black;
}

.astronautIcon{
    width: 60px;
    left: 40%;
    position: absolute;
    transform: rotate(25deg);
    animation: astronautBounce 5s infinite;
    animation-direction: alternate; 
}
.planetIcon{
    width: 70px;
    right: 38%;
    position: absolute;
    transform: rotate(25deg);
    animation: PlanetSpin 5s infinite;
}

@keyframes astronautBounce{
    from{
    transform: translate(15px, 25px);
    } to {
    transform: translate(-15px, -25px);
    }
}

@keyframes PlanetSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px){
    .astronautIcon{
    left: 4%;
    }
    .planetIcon{
            right: 12%;
 
    }
}