
.App-icon {
  height: 70vmin;
  pointer-events: none;
}

.App-icon2{

    height: 120vmin;
    pointer-events: none;
    position: absolute;
}

.app-fontface{
    position: absolute;
    width:80vmin;
    bottom: -11px;
    text-shadow: 2px 2px red;

  }

@media (prefers-reduced-motion: no-preference) {
  .App-icon {
    animation: App-icon-spin infinite 18s linear;
    animation-direction: reverse; /* or: normal */
  }
  .App-icon2 {
    animation: App-icon-spin infinite 70s linear;
    animation-direction: normal; /* or: normal */
  }
}

.App-header {
    /* background-image: url("https://images.unsplash.com/photo-1543053976-476d89a9a0d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); */
    /* background-image: url("https://images.unsplash.com/photo-1545679216-ad934fececb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); */
    /* background-image: url("https://images.unsplash.com/photo-1527049979667-990f1d0d8e7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80"); */
    background-image: url("https://images.unsplash.com/photo-1572451529660-997dd93da816?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    /* background-image: url("https://images.unsplash.com/photo-1582035100994-9ddfc34b1dae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"); */
  background-size: cover;
  background-color: #282c34;
  /* transform: rotate(90deg); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

.filler1{
  /* margin-top: 21px; */
  margin-left: 6%;
}

.socialGrid1{
  display: grid;
  grid-template-areas: 
  "spotify insta"
  "facebook insta";
}

.spotiDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: spotify;
      box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 
      0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
  
}

.facebookEmbedContainer{
  grid-area: spotify;
      box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 0px 10px 0px rgba(50, 50, 93, 0.1), 
      0px 0px 1.5px 0px rgba(0, 0, 0, 0.07);
}
.facebookDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: facebook;
}
.instaDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: insta;
  
}

.app-fontface2{
  width: 60%;
  margin-left: 20%;
}

.fillerDeco1{
  height: 1px;
  background-color: rgb(108, 85, 22);
}

.fillerDeco2{
  height: 1px;
  margin-top: 2px;
  background-color: rgb(125, 118, 118);
}
.fillerDeco3{
  height: 1px;
  margin-top: 2px;
  background-color: rgb(240, 46, 175);
}

.filler1-Intro{
  margin-bottom: 21px;
  font-size: 1.8em;
  padding-bottom: 22px;
  color: rgb(0, 0, 0);
}

@keyframes App-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media screen and (max-width:700px){
.app-fontface{
    position: absolute;
    width:80vmin;
    bottom: 191px;
    text-shadow: 2px 2px red;
  }

  .App-icon2{
    height: 40vmin;
  }

  .socialGrid1{
    display: grid;
    grid-template-areas: 
    "spotify"
    "facebook"
    "insta";
    }

    .filler1-Intro{
      font-size: 1.2em;
  }
}