#livePageGeneral{
    background-color: rgb(19, 18, 18);
}


.liveLogo{
    margin-top: 100px;
    margin-bottom: 80px;
}
.liveLogo2{
    margin-top: 21px;
    margin-bottom: 80px;
}
.liveLogoImg{
    width: 40%;
    margin-left: 6%;
}

.liveDeco1{
    margin-top: 40px;
    width: 100%;
    margin-left: 6%;
    height: 1px;
    background-color: rgb(248, 248, 248);
}
.liveDeco2{
    margin-top: 3px;
    width: 100%;
    margin-left: 6%;
    height: 1px;
    background-color: rgb(132, 132, 132);
}
.liveDeco3{
    margin-top: 3px;
    width: 100%;
    margin-left: 6%;
    height: 1px;
    background-color: rgb(106, 115, 30);
}
.liveDeco4{
    margin-top: 3px;
    width: 100%;
    margin-left: 6%;
    height: 1px;
    background-color: rgb(62, 68, 167);
}

.liveDeco5{
    margin-top: 3px;
    width: 100%;
    margin-left: 6%;
    height: 1px;
    background-color: rgb(67, 174, 76);
}
.liveDeco6{
    margin-top: 3px;
    width: 100%;
    margin-left: 6%;
    height: 1px;
    background-color: rgb(177, 196, 125);
}
.LiveIntro{
    margin-left: 6%;
    margin-top: 4px;
    color: white;
    font-size: 1.7em;

}
.LiveIntro2{
    margin-left: 6%;
    margin-top: 4px;
    color: rgb(240, 240, 240);
    font-size: 2.3em;
}

.eachConcert{
    width: 80%;
    margin-left: 10%;
    color: white;
    border-bottom: solid 1px rgb(159, 159, 159);
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    padding-bottom: 21px;
    margin-bottom: 44px;
    grid-template-areas: 
    ". eventDate eventDate .  eventLocation ."
    ". . EventName EventName . eventCity "
    ". . eventPrice . . eventCapacity";
}

.aConcertDate{
    grid-area: eventDate;
    margin: 10px;
    font-size: 1.8em;
    padding-left: 10px;
    border-left: solid 1.5px rgb(157, 255, 0);

}
.aConcertLocation{
    font-size: 1.4em;
    margin: 10px;
    grid-area: eventLocation;
    border-bottom: solid 1.5px rgba(241, 118, 17, 0.816);

}
.aConcertCapacity{
    margin: 10px;
    grid-area: eventCapacity;
}
.aConcertCity{
    margin: 10px;
    grid-area: eventCity;
}

.aEventName{
    grid-area: EventName;
    font-size: 2em;
    text-shadow: 2px 2px #1749bf;
}
.aEventPrice{
    grid-area: eventPrice;

}
.aEventPrice2{
    grid-area: eventPrice;
    font-size: 2em;
}

.landingTicketsBtn{
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 50px;
    color: white;
    font-size: 1.2em;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    border: solid 1px red;
    transition: all ease-in 0.5s;
}

.landingTicketsBtn:hover{
    background-color: rgb(201, 198, 198);
    color: black;
    border: solid 1px rgb(32, 182, 50);

}

@media screen and (max-width:700px){

    .liveLogo{
        margin-top: 81px;
        margin-bottom: 50px;
    }
    .aConcertDate{
        font-size: 1.4em;
    }

    .LiveIntro2{
        font-size: 1.5em;
    }
    .aEventName{
        font-size: 2.3em;
        margin-top: 21px;
        margin-bottom: 41px;
    }
    .eachConcert{
    width: 90%;
    margin-left: 5%;
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    grid-template-areas: 
    "eventDate eventDate eventDate . eventLocation eventLocation"
    "EventName EventName EventName . eventCity eventCity"
    ". eventPrice eventPrice . eventCapacity eventCapacity";
}
}