@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;

}

.placeholderGeneral{
    height: 100vh;
    background-color: rgb(64, 47, 47);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.placeholder{
    width: 40%;
    margin-left: 30%;
    font-size: 1.8em;
}

@media screen and (max-width:700px){
*{
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;

}

}

